<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imgGYM/Gym-Interior/imagen1.jpg" class="d-block w-100" alt="instalacion del gym" style="height: 600px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="imgGYM/Gym-Interior/imagen2.jpg" class="d-block w-100" alt="baños de gym" style="height: 600px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="imgGYM/Gym-Interior/imagen3.webp" class="d-block w-100" alt="sauna gym" style="height: 600px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="imgGYM/Gym-Interior/imagen4.webp" class="d-block w-100" alt="equipos gym" style="height: 600px; object-fit: cover;">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <div class="container my-5 text-center" id="seccion-ofrecemos">
        <div class="row">
            <h2 class="display-5 fw-bold mb-5">LO QUE OFRECEMOS</h2>
            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/zona-gym.jpg" class="card-img-top" alt="Zona Gym">
                    <div class="card-body">
                        <h2 class="h5">Zona de Gym</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/Tienda.png" class="card-img-top" alt="Tienda">
                    <div class="card-body">
                        <h2 class="h5">Tienda</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/Entrenamiento.jpg" class="card-img-top" alt="Entrenamiento">
                    <div class="card-body">
                        <h2 class="h5">Entrenamiento</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/aseo-gym.jpg" class="card-img-top" alt="Aseo">
                    <div class="card-body">
                        <h2 class="h5">Duchas y Lockers</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/cafeteria.jpg" class="card-img-top" alt="Cafeteria">
                    <div class="card-body">
                        <h2 class="h5">Cafeteria</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 py-3">
                <div class="card">
                    <img src="imgGYM/Ofrecemos/Comunidad  Eventos.jpg" class="card-img-top" alt="Comunidad y eventos">
                    <div class="card-body">
                        <h2 class="h5">Comunidad / Eventos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 d-none d-md-block" id="seccion-planes">
        <h2 class="display-5 fw-bold mb-5 text-center">Nuestros Planes</h2>
        <p class="fw-bold mb-5 text-center">¡Comienza a entrenar con nosotros! Elige el plan que quieras y nos vemos en la sede de tu preferencia.</p>
        <div class="row">
            <div class="col-md-4 ">
                <div class="card bg-dark text-light">
                    <img src="imgGYM/Gym-Interior/WORKERS.png" class="card-img-top" alt="Imagen de Planes">
                    <div class="card-body">
                        <h5 class="card-title">Plan de 1 Mes</h5>
                        <ul class="card-text">
                            <li>Acceso a todas las máquinas</li>
                            <li>Zona de cardio ilimitada</li>
                            <li>Evaluación física inicial</li>
                            <li>Acceso a duchas</li>
                        </ul>
                        <a href="#" class="btn btn-danger rounded-pill px-4 d-block mx-auto" style="width: fit-content;">Ver más detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card">
                    <img src="imgGYM/Gym-Interior/WORKERS.png" class="card-img-top" alt="Imagen de Planes">
                    <div class="card-body">
                        <h5 class="card-title">Plan de 2 Meses</h5>
                        <ul class="card-text">
                            <li>Acceso a todas las máquinas</li>
                            <li>Zona de cardio ilimitada</li>
                            <li>Evaluación física inicial</li>
                            <li>Acceso a duchas</li>
                        </ul>
                        <a href="#" class="btn btn-danger rounded-pill px-4 d-block mx-auto" style="width: fit-content;">Ver más detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card">
                    <img src="imgGYM/Gym-Interior/WORKERS.png" class="card-img-top" alt="Imagen de Planes">
                    <div class="card-body">
                        <h5 class="card-title">Plan de 3 Meses</h5>
                        <ul class="card-text">
                            <li>Acceso a todas las máquinas</li>
                            <li>Zona de cardio ilimitada</li>
                            <li>Evaluación física inicial</li>
                            <li>Acceso a duchas</li>
                        </ul>
                        <a href="#" class="btn btn-danger rounded-pill px-4 d-block mx-auto" style="width: fit-content;">Ver más detalles</a>
                    </div>
                </div>
            </div>
            <p class="fs-6 text-center py-5">*Los precios, tarifas, elementos de beneficios y condiciones promocionales pueden variar*</p>
        </div>
    </div>
</main>